/* Reset margin and padding globally */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-image {
  background-image: url('/bg4.jpg'); /* put bg.jpg inside /public */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
.bg-sub-image {
  background-image: url('/bg2.jpg'); /* put bg.jpg inside /public */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}
.bg-fade {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.6s ease-out forwards;
}
